<!DOCTYPE html>
{% set hub_static_url = hub_static_url|default('/hub/static') %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Binder{% endblock %}</title>
  {% block meta_social %}
  {# Social media previews #}
  <meta property="og:title" content="{{opengraph_title}}">
  <meta property="og:image" content="{{static_url("images/logo_social.png")}}">
  <meta property="og:description" content="Reproducible, sharable, open, interactive computing environments.">
  <meta property="og:image:width" content="1334">
  <meta property="og:image:height" content="700">
  <meta property="og:image:alt" content="The Binder Project Logo" />
  <meta name="twitter:card" content="summary_large_image">
  {% endblock meta_social %}
  <link id="favicon" rel="shortcut icon" type="image/png" href="{{static_url("favicon.ico")}}" />
  <link href="{{static_url("dist/styles.css")}}" rel="stylesheet"></link>

  <style>
  html {
    font-size: 100%;
    height: 100%;
  }
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .site-footer-fix {
    margin-top: auto;
  }
  .container-fix {
    flex-grow: 1;
  }
  </style>

  <link
    rel="stylesheet"
    href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.11.0/ec/styles/optional/ecl-ec-default.css"
    integrity="sha256-7XbRWz/KIVcK0oC0bwOCo+I2AudyAMkeyu3L5Wpa1wc= sha384-+KnRIij0RjiqhQ1MN6SG8J1tPISkjN4CghvhKRlobxy/hPbe6ZbO4UHBNmcFuWEO sha512-W7YFpSpRijcAESw/ScePE87EiYwk3kyM2UJhvW9D2eKCfqytMYrq2h8vVw9Ft41bQPXX+esTFR4/g3ykEiibCg=="
    crossorigin="anonymous"
    media="screen"
  />
  <link
    rel="stylesheet"
    href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.11.0/ec/styles/optional/ecl-reset.css"
    integrity="sha256-kgkV2jwxAv9rV/pEZMO1ZIUGlOeYhR/sWNko+nQzL+U= sha384-V/h7UkJ4neaFSddbrlgsdHZ7Yli4BsWBEzbGY1bL9s//Dne2gMX3qBW2mtGsI7gA sha512-ztGS5PYfTTDqz0ywyhsqxupHv+yX0t2ajqocSE/xviVoxLRZVJj6TARDt25xytzQ/6jP4IEl7nkIL6Ypt4lUQQ=="
    crossorigin="anonymous"
    media="screen"
  />
  <link
    rel="stylesheet"
    href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.11.0/ec/styles/ecl-ec.css"
    integrity="sha256-EWyRRzWds5Kll0v6q5hOpX/JF7OZ20oTOXC5wweVx1E= sha384-4Ni640a5KqYEDjSOoyKYiBhrHoX0nl8s7ZVTPtbkguA9cJJtWbkbmXm12UO71a0C sha384-pht7Ak0/atyGGU+sNdoGMoYPtcq5gJ9eOEiD8jhbqowXOp04VjhqALtBzjQO+xVa sha512-WxR2fEkr9aF9hu1vMMgSH7UcZZiuIxQJJ5x4T6WPlG5pJYcLywgeHN6rS0T94KoVTMfrC4IZB9rSsJgfXImo4g=="
    crossorigin="anonymous"
    media="screen"
  />
  <link
    rel="stylesheet"
    href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.11.0/ec/styles/ecl-ec-print.css"
    integrity="sha256-+h9JpKfnsC8n6oaTvvrKOaLro9ki67E1HUFSgh+FxP4= sha384-vH3QMqdGG/7+vk2t/Ai2GZ8refpKk/xVlspeMbdG7WxjPEYIqKmvfRl3PJ6Zb+Kc sha512-3vSGPqgwLC+wl9k+xN+XsAoxvoQGSrGCN6iq/52pCl5daazWFA8QrQkJSmX4bydX8IdOr2d+7K4TKrvnO7OiOw=="
    crossorigin="anonymous"
    media="print"
  />
  <link
    rel="stylesheet"
    href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.11.0/ec/styles/optional/ecl-ec-default-print.css"
    integrity="sha256-r2h4/l+cHzvLXT3QvfaB7jlmj3L0xwOM83Wo543HE0A= sha384-iE/iHAMCZzQX5+ukUTK7xPB87CoAlgklPyLndBuJlWvwd3JqXO5/GaO2ePOF1pAW
    sha512-wGTofG2I7XVxGV7Lrnpizbzu0rHLtAzmWKpcCudLDJ0sfro2TBqZB1MwkxjTD6LGfkoiC5f5jssXNLHClOiGRQ=="
    crossorigin="anonymous"
    media="print"
  />

  <script
    src="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.11.0/ec/scripts/ecl-ec.js"
    integrity="sha256-3ml+N1xH9anWmelzcIUcky/E/V29fpHAmvjc5qcHZzs= sha384-aR3Es/0z8R1Y4mve1kgTY0/X2DSqpmRmmvXgRpTYg0pwT2C8f4UrWMDLXyBYlmJC sha512-TqIr68oz3EDBP2P+W1N4V1k01NSaaVwcJWXNjPRxcQv5fO8iD281WyZkXaSVIp/bhA8SfEqI1QjJ6fjyWzYIJA=="
    crossorigin="anonymous"
  ></script>
  <script>
    ECL.autoInit();
  </script>

  <script>
    window.pageConfig = {{page_config|tojson}};
  </script>
  {%- block extra_header %}
  {%- if extra_header_html %}
  {%- for _, snippet in extra_header_html | dictsort %}
  {{ snippet | trim | safe }}
  {%- endfor %}
  {%- endif %}
  {%- endblock extra_header %}
</head>

<body>

<header
  class="ecl-site-header ecl-site-header-with-logo-l ecl-site-header--has-mega-menu"
  data-ecl-auto-init="SiteHeader"
>
  <div class="ecl-site-header__inner">
    <div class="ecl-site-header__background">
      <div class="ecl-site-header__header">
        <div class="ecl-site-header__container ecl-container">
          <div class="ecl-site-header__top" data-ecl-site-header-top>
            <a
              href="https://commission.europa.eu/index_en"
              class="ecl-link ecl-link--standalone ecl-site-header__logo-link"
            >
              <picture class="ecl-picture ecl-site-header__picture">
                <source
                  srcset="{{ '/'.join([hub_static_url, 'images/logo-ec--en.svg']) }}"
                  media="(min-width: 996px)"
                />
                <img
                  class="ecl-site-header__logo-image ecl-site-header__logo-image--l"
                  src="{{ '/'.join([hub_static_url, 'images/logo-ec--en.svg']) }}"
                  alt="European Commission"
                />
              </picture>
            </a>

          </div>
	</div> <!-- ECL-CONTAINER -->
      </div>
    </div>
    <div class="ecl-site-header__banner">
      <div class="ecl-container">
        <div class="ecl-site-header__site-name">
          European Open Science Cloud - EU Node Binder 
        </div>
      </div>
    </div>
  </div>
</header>

<div id="root"></div>

{% block footer %}
<footer class="ecl-site-footer site-footer-fix">
  <div class="ecl-container ecl-site-footer__container">
    <div class="ecl-site-footer__row">
      <div class="ecl-site-footer__column">
        <div
          class="ecl-site-footer__section ecl-site-footer__section--site-info"
        >
          <div class="ecl-site-footer__title">
            <a
              href="{{ base_url }}"
              class="ecl-link ecl-link--standalone ecl-site-footer__title-link"
            >
              European Open Science Cloud - EU Node Binder</a
            >
          </div>
          <div class="ecl-site-footer__description">
            This site is managed by:<br />Directorate-General for
            Communications Networks, Content and Technology
          </div>
          <ul class="ecl-site-footer__list">
            <li class="ecl-site-footer__list-item">
              <a
                href="https://open-science-cloud.ec.europa.eu/accessibility-statement"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Accessibility</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="ecl-site-footer__column">
        <div class="ecl-site-footer__section">
          <div class="ecl-site-footer__title">Contact us</div>
          <ul class="ecl-site-footer__list">
            <li class="ecl-site-footer__list-item">
              <a
                href="https://open-science-cloud.ec.europa.eu/support/helpdesk"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Contact our Helpdesk</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://open-science-cloud.ec.europa.eu/support/frequently-asked-questions"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >FAQs</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://open-science-cloud.ec.europa.eu/security-team"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Security Team</a
              >
            </li>
          </ul>
        </div>
        <div class="ecl-site-footer__section">
          <div class="ecl-site-footer__title">Policy statement</div>
          <ul class="ecl-site-footer__list">
            <li class="ecl-site-footer__list-item">
              <a
                href="https://open-science-cloud.ec.europa.eu/support/acceptable-use-policy"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >EOSC EU Node Acceptable Use Policy</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://open-science-cloud.ec.europa.eu/support/user-access-policy"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >EOSC EU Node User Access Policy</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://open-science-cloud.ec.europa.eu/privacy-statement"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >EOSC EU Node Privacy Statement</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="ecl-site-footer__column">
        <div class="ecl-site-footer__section">
          <div class="ecl-site-footer__title">About us</div>

          <div class="ecl-site-footer__description">
            The European Open Science Cloud aims to establish a federation of
            infrastructures facilitating effortless access to interoperable
            research assets and enhanced services spanning geographical
            boundaries and diverse academic fields.
          </div>
        </div>
      </div>
    </div>
    <div class="ecl-site-footer__row">
      <div class="ecl-site-footer__column">
        <div class="ecl-site-footer__section">
          <a
            href="https://commission.europa.eu/index_en"
            class="ecl-link ecl-link--standalone ecl-site-footer__logo-link"
          >
            <picture class="ecl-picture ecl-site-footer__picture">
              <source
                srcset="{{ '/'.join([hub_static_url, 'images/logo-ec-negative--en.svg']) }}"
                media="(min-width: 996px)"
              />
              <img
                class="ecl-site-footer__logo-image"
                src="{{ '/'.join([hub_static_url, 'images/logo-ec-negative--en.svg']) }}"
                alt="European Commission"
              />
            </picture>
          </a>
        </div>
      </div>
      <div class="ecl-site-footer__column">
        <div
          class="ecl-site-footer__section ecl-site-footer__section--split-list"
        >
          <ul class="ecl-site-footer__list">
            <li class="ecl-site-footer__list-item">
              <a
                href="https://commission.europa.eu/about-european-commission/contact_en"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Contact the European Commission</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://european-union.europa.eu/contact-eu/social-media-channels_en#/search?page=0&institutions=european_commission"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Follow the European Commission on social media</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://commission.europa.eu/resources-partners_en"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Resources for partners</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="ecl-site-footer__column">
        <div
          class="ecl-site-footer__section ecl-site-footer__section--split-list"
        >
          <ul class="ecl-site-footer__list">
            <li class="ecl-site-footer__list-item">
              <a
                href="https://commission.europa.eu/cookies_en"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Cookies</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://commission.europa.eu/privacy-policy_en"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Privacy policy</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://commission.europa.eu/legal-notice_en"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Legal notice</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock footer %}


<script src="{{static_url("dist/bundle.js")}}"></script>

{% if extra_footer_scripts %}
{% for script in extra_footer_scripts|dictsort %}
<script>
  {{ script[1]|safe }}
</script>
{% endfor %}
{% endif %}

</html>
