<!DOCTYPE html>
{% set hub_static_url = hub_static_url|default('/hub/static') %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Binder{% endblock %}</title>
  {% block meta_social %}
  {# Social media previews #}
  <meta property="og:title" content="{{opengraph_title}}">
  <meta property="og:image" content="{{static_url("images/logo_social.png")}}">
  <meta property="og:description" content="Reproducible, sharable, open, interactive computing environments.">
  <meta property="og:image:width" content="1334">
  <meta property="og:image:height" content="700">
  <meta property="og:image:alt" content="The Binder Project Logo" />
  <meta name="twitter:card" content="summary_large_image">
  {% endblock meta_social %}
  <link id="favicon" rel="shortcut icon" type="image/png" href="{{static_url("favicon.ico")}}" />
  <link href="{{static_url("dist/styles.css")}}" rel="stylesheet"></link>

  <style>
  html {
    font-size: 100%;
    height: 100%;
  }
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .site-footer-fix {
    margin-top: auto;
  }
  .container-fix {
    flex-grow: 1;
  }
  [data-bs-theme="dark"] body,  
  [data-bs-theme="dark"] .ecl-select {
    color: white !important;
  }
  </style>

  <link
    rel="stylesheet"
    href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v5.1.0/ec/styles/optional/ecl-ec-default.css"
    integrity="sha256-cpTJRXXrwfrpkoXcZ9ZGxMzPbjBvfqc4MurAqO3oPZY= sha384-Yk5f0kieov1JG5G8I3RDd7rW1aO9lo0fVgBjclg4/NSKJOHk9sH38ALgveQmZljY sha512-n+FcXGmwHFeDQXAI/9aqyrqECluOBm+9/iPm+oHIPNFH6b/GRwC3aFgYcLybabfXmZas9oBkmGCsdTnfE8+grw=="
    crossorigin="anonymous"
    media="screen"
  />

  <link
    rel="stylesheet"
    href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v5.1.0/ec/styles/optional/ecl-reset.css"
    integrity="sha256-vVUOVhn7NQTSpAHhmpYXydT4GGaAh1VdH6lEuHWrQcs= sha384-jEeocaSvvBeTSqVOIR5P+XhzKqQZOD1bHvfD7VS2veP1hccCVYxdA6aDC2C4utSd sha512-PvxOetiVG4BQ00iHi+C2j1xw1xZRV2Y6bOEhXLa61osVVuklSUPeUtcn+hIlFfVng7jZYZBsoleeujN/gn/sQA=="
    crossorigin="anonymous"
    media="screen"
  />

  <link
    rel="stylesheet"
    href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v5.1.0/ec/styles/ecl-ec.css"
    integrity="sha256-Z6D0xe1Akhr3U7Uq+J/vPa48ZhKYM+hlaQr69S3dcUY= sha384-O3hbQj9dwVgFiMMcC4sy7bPDpTWZrFFlQRk4fh15W/efPvE38mBJ1btnBZU1M8Ap sha512-SgXDqMwvorrhnfllQOxXjogqpyMK33JpSvIWhI//nssQC6+6/ypuNUaJjew8O3W01R1KPTeBRQVxjd0XtrpCBw=="
    crossorigin="anonymous"
    media="screen"
  />
  <link
    rel="stylesheet"
    href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v5.1.0/ec/styles/ecl-ec-print.css"
    integrity="sha256-2strgCYkaV9ef5lWmF9lKOn4nrDevVhLIv0BrSPXbiI= sha384-F/OAClmr5M5aeP160I+3zLzox50gqntKmuI907MvzglRPAiqntijRz9ifddHYFcN sha512-Z4oOtxyC2an8wkf3TS9oiXRhL0DZgf17JuwcfjmMrzIfUtiN9Lfy0gJORpJMghZ49UpUvGzYnIe+aSvmwINb9A=="
    crossorigin="anonymous"
    media="print"
  />
  <link
    rel="stylesheet"
    href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v5.1.0/ec/styles/optional/ecl-ec-default-print.css"
    integrity="sha256-V4jUK4BgxtWyK4lm8a1+4CILx1iSPahwWE3V2GDfr5E= sha384-Xj6kT3PEgMiukrRc22GQQtmwGksrYwss2UGzd6HLb6Xu4fgySoSY+ki8xbujMwLF sha512-AargNX/K11j1YK6ogJ4burl5ioS0LUzODQiHrifl2B8RVuAHfd3eUSqgWST0/zMc4qWCmpyPDbrd4J7r3Y6SOQ=="
    crossorigin="anonymous"
    media="print"
  />

  <script
    src="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v5.1.0/ec/scripts/ecl-ec.js"
    integrity="sha256-V9+YPvkODqgcsx01etrmrNRAAMNeCjobgfaWk+w5mWI= sha384-bEGzkV9Vblq0UDu6AlNKavxCLfOMmYVBzz/OoUNys9XAbZRD5V+TDH+NeCsrUxQl sha512-+XlsKDMao4g/qG6RnogzAZv0djvUN5bdxY1rghC6uTZyJ3ErgAPEoYFI9ZO+cVwInyrzmZYIvoQ/ZQtkuYuYKw=="
    crossorigin="anonymous"
  ></script>
  <script>
    ECL.autoInit();
  </script>

  <script>
    window.pageConfig = {{page_config|tojson}};
  </script>
  {%- block extra_header %}
  {%- if extra_header_html %}
  {%- for _, snippet in extra_header_html | dictsort %}
  {{ snippet | trim | safe }}
  {%- endfor %}
  {%- endif %}
  {%- endblock extra_header %}
</head>

<body>

<header
  class="ecl-site-header ecl-site-header-with-logo-l ecl-site-header--has-mega-menu"
  data-ecl-auto-init="SiteHeader"
>
  <div class="ecl-site-header__inner">
    <div class="ecl-site-header__background">
      <div class="ecl-site-header__header">
        <div class="ecl-site-header__container ecl-container">
          <div class="ecl-site-header__top" data-ecl-site-header-top>
            <a
              href="https://commission.europa.eu/index_en"
              class="ecl-link ecl-link--standalone ecl-site-header__logo-link"
            >
              <picture class="ecl-picture ecl-site-header__picture">
                <source
                  srcset="{{ '/'.join([hub_static_url, 'images/logo-ec--en.svg']) }}"
                  media="(min-width: 996px)"
                />
                <img
                  class="ecl-site-header__logo-image ecl-site-header__logo-image--l"
                  src="{{ '/'.join([hub_static_url, 'images/logo-ec--en.svg']) }}"
                  alt="European Commission"
                />
              </picture>
            </a>

          </div>
	</div> <!-- ECL-CONTAINER -->
      </div>
    </div>
    <div class="ecl-site-header__banner">
      <div class="ecl-container">
        <div class="ecl-site-header__site-name">
          European Open Science Cloud - EU Node Binder 
        </div>
      </div>
    </div>
  </div>
</header>

<div id="root"></div>

{% block footer %}
<footer class="ecl-site-footer">
  <div class="ecl-site-footer__main">
    <div class="ecl-container ecl-site-footer__container">
      <div class="ecl-site-footer__row ecl-site-footer__row--specific">
        <div
          class="ecl-site-footer__section ecl-site-footer__section--site-info"
        >
          <div class="ecl-site-footer__title">
            <a
              href="{{ base_url }}"
              class="ecl-link ecl-link--inverted ecl-site-footer__title-link"
              >European Open Science Cloud - EU Node Binder</a
            >
          </div>
          <div class="ecl-site-footer__description">
            This site is managed by Directorate-General for Communications
            Networks, Content and Technology
          </div>
        </div>
        <div class="ecl-site-footer__section ecl-site-footer__section--links">
          <div class="ecl-site-footer__row">
            <div
              class="ecl-site-footer__section ecl-site-footer__section--contact"
            >
              <div class="ecl-site-footer__title">Contact us</div>
              <ul class="ecl-site-footer__list">
                <li class="ecl-site-footer__list-item">
                  <a
                    href="https://open-science-cloud.ec.europa.eu/support/helpdesk"
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    >Contact our Helpdesk</a
                  >
                </li>
                <li class="ecl-site-footer__list-item">
                  <a
                    href="https://open-science-cloud.ec.europa.eu/support/frequently-asked-questions"
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    >FAQs</a
                  >
                </li>
                <li class="ecl-site-footer__list-item">
                  <a
                    href="https://open-science-cloud.ec.europa.eu/security-team"
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    >Security Team</a
                  >
                </li>
              </ul>
            </div>
            <div
              class="ecl-site-footer__section ecl-site-footer__section--policy"
            >
              <div class="ecl-site-footer__title">Policy Statement</div>
              <ul class="ecl-site-footer__list">
                <li class="ecl-site-footer__list-item">
                  <a
                    href="https://open-science-cloud.ec.europa.eu/support/acceptable-use-policy"
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    >EOSC EU Node Acceptable Use Policy</a
                  >
                </li>
                <li class="ecl-site-footer__list-item">
                  <a
                    href="https://open-science-cloud.ec.europa.eu/support/user-access-policy"
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    >EOSC EU Node User Access Policy</a
                  >
                </li>
                <li class="ecl-site-footer__list-item">
                  <a
                    href="https://open-science-cloud.ec.europa.eu/privacy-statement"
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    >EOSC EU Node Privacy Statement</a
                  >
                </li>
                <li class="ecl-site-footer__list-item">
                  <a
                    href="https://open-science-cloud.ec.europa.eu/support/node-registration-policy"
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    >EOSC EU Node Registration Policy</a
                  >
                </li>
                <li class="ecl-site-footer__list-item">
                  <a
                    href="https://open-science-cloud.ec.europa.eu/support/resources-and-services-onboarding-policy"
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    >EOSC EU Node Resources and Serivces Onboarding Policy</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="ecl-site-footer__row">
            <div
              class="ecl-site-footer__section ecl-site-footer__section--accessibility"
            >
              <div class="ecl-site-footer__title">Accessibility</div>
              <ul class="ecl-site-footer__list">
                <li class="ecl-site-footer__list-item">
                  <a
                    href="https://open-science-cloud.ec.europa.eu/accessibility-statement"
                    class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                    >Accessibility statement</a
                  >
                </li>
              </ul>
            </div>
            <div
              class="ecl-site-footer__section ecl-site-footer__section--more"
            >
              <div class="ecl-site-footer__title">About us</div>
              <div class="ecl-site-footer__description">
                The European Open Science Cloud aims to establish a federation
                of infrastructures facilitating effortless access to
                interoperable research assets and enhanced services spanning
                geographical boundaries and diverse academic fields.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ecl-site-footer__row ecl-site-footer__row--common">
        <div class="ecl-site-footer__section ecl-site-footer__section--common">
          <a
            href="/component-library/example#ubmhv"
            class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__logo-link"
          >
            <picture class="ecl-picture ecl-site-footer__picture">
              <source
                srcset="{{ '/'.join([hub_static_url, 'images/logo-ec-negative--en.svg']) }}"
                media="(min-width: 996px)"
              />
              <img
                class="ecl-site-footer__logo-image"
                src="{{ '/'.join([hub_static_url, 'images/logo-ec-negative--en.svg']) }}"
                alt="European Commission"
              />
            </picture>
          </a>
          <div class="ecl-site-footer__extra-links-container">
            <ul class="ecl-site-footer__list ecl-site-footer__list--inline">
              <li class="ecl-site-footer__list-item">
                <a
                  href="https://commission.europa.eu/about-european-commission/contact_en"
                  class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                  >Contact the European Comission</a
                >
              </li>
              <li class="ecl-site-footer__list-item">
                <a
                  href="https://european-union.europa.eu/contact-eu/social-media-channels_en#/search?page=0&institutions=european_commission"
                  class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                  >Follow the European Commission on social media</a
                >
              </li>
              <li class="ecl-site-footer__list-item">
                <a
                  href="https://commission.europa.eu/resources-partners_en"
                  class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                  >Resources for Partners</a
                >
              </li>
              <li class="ecl-site-footer__list-item">
                <a
                  href="https://commission.europa.eu/cookies_en"
                  class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                  >Cookies</a
                >
              </li>
              <li class="ecl-site-footer__list-item">
                <a
                  href="https://commission.europa.eu/privacy-policy-websites-managed-european-commission_en"
                  class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                  >Privacy policy</a
                >
              </li>
              <li class="ecl-site-footer__list-item">
                <a
                  href="https://commission.europa.eu/legal-notice_en"
                  class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                  >Legal notice</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock footer %}


<script src="{{static_url("dist/bundle.js")}}"></script>

{% if extra_footer_scripts %}
{% for script in extra_footer_scripts|dictsort %}
<script>
  {{ script[1]|safe }}
</script>
{% endfor %}
{% endif %}

</html>
